* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('Home.jpg'); 
    background-size: cover;  
    width: 100%;
    height: 100vh;
}
h1{
    margin-top: 20dvh;
}
p {
    margin-top: 20dvh;
    margin-right: 40dvh;
}
.container {
    display: flex;              
    justify-content: space-between; 
    align-items: center;        
    padding: 20px;              
    height: 100vh;              
    color: white;             
}

.texto {
    flex: 1; 
    text-align: left; 
}
